@use "sass:math";

.cm-editor {
  font-family: Inconsolata, monospace;
  height: 100%;
  font-size: 18px;
}

.cm-lineNumbers {
  padding-right: #{math.div(10, $base-font-size)}rem;
  .cm-gutterElement {
    width: #{math.div(32, $base-font-size)}rem;
    left: #{math.div(-3, $base-font-size)}rem !important;
  }
}

.line-runtime-error + .CodeMirror-activeline-gutter {
  background-color: rgb(255, 95, 82);
  opacity: 0.3;
}

.line-runtime-error {
  background-color: rgb(255, 95, 82) !important;
  opacity: 0.3;
}

.editor-holder {
  height: calc(100% - #{math.div(29, $base-font-size)}rem);
  width: 100%;
  position: absolute;
  border: 1px solid #d9d9d9;
  &.editor-holder--hidden .CodeMirror {
    display: none;
  }
}

.editor__header {
  height: #{math.div(29, $base-font-size)}rem;
  .sidebar__expand,
  .sidebar__contract {
    background-color: #d9d9d9;
    position: absolute;
    top: #{math.div(2, $base-font-size)}rem;
    left: #{math.div(0, $base-font-size)}rem;
    height: #{math.div(25, $base-font-size)}rem;
    width: #{math.div(49, $base-font-size)}rem;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.editor__file-name {
  height: #{math.div(29, $base-font-size)}rem;
  padding-top: #{math.div(7, $base-font-size)}rem;
  padding-left: #{math.div(56, $base-font-size)}rem;
  font-size: #{math.div(12, $base-font-size)}rem;
  display: flex;
  justify-content: space-between;
}

.editor__unsaved-changes {
  margin-left: #{math.div(2, $base-font-size)}rem;
}
