@use "sass:math";

.cm-editor {
  font-family: Inconsolata, monospace;
  height: 100%;
  font-size: 18px;
}

.cm-lineNumbers {
  padding-right: #{math.div(10, $base-font-size)}rem;
  .cm-gutterElement {
    width: #{math.div(32, $base-font-size)}rem;
    left: #{math.div(-3, $base-font-size)}rem !important;
  }
}

.line-runtime-error + .CodeMirror-activeline-gutter {
  background-color: rgb(255, 95, 82);
  opacity: 0.3;
}

.line-runtime-error {
  background-color: rgb(255, 95, 82) !important;
  opacity: 0.3;
}
